<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row g-3">
    <div class="mb-12">
      <label for="inputHotelName" class="form-label">Hotel Name</label>
      <input class="form-control" type="text" placeholder="Hotel name" aria-label="hotel name">
    </div>

    <div class="col-md-6">
      <label for="inputPrice" class="form-label">Price</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="200.00">
    </div>

    <div class="col-md-6">
      <label for="inputCurrency" class="form-label">Currency</label>
      <input type="text" class="form-control" id="inputCurrency", placeholder="euro">
    </div>
    <div class="mb-12">
      <label for="inputGuestName" class="form-label">Guest Name</label>
      <input class="form-control" type="text" placeholder="Guest Name" aria-label="guest name">
    </div>

    <div class="mb-12">
      <label for="inputEmail" class="form-label">Guest Email</label>
      <input class="form-control" type="text" placeholder="Guest email" aria-label="Guest email">
    </div>

    <div class="col-md-6">
      <label for="inputArrivaldate" class="form-label">Arrival Date</label>
      <input type="text" class="form-control" id="inputArrivaldate">
    </div>

    <div class="col-md-6">
      <label for="inputDepartureDate" class="form-label">Departure Date</label>
      <input type="text" class="form-control" id="inputDepartureDate">
    </div>

    <div >
      <%= form.submit %>
    </div>
  </div>
<% end %>
