<div class= "container">
  <h1>Editing Reservation</h1>

  <%= render 'form', reservation: @reservation %>

  <br>
  <%= link_to 'Show', @reservation, :class=>"btn btn-primary", :style=>"color: #fff;" %>
  <%= link_to 'Back', reservations_path, :class=>"btn btn-primary", :style=>"color: #fff;" %>
</div>
