<div class="container">
  <h1>New Reservation</h1>

  <%= render 'form', reservation: @reservation %>
  <br>
  <%= link_to 'Back', reservations_path, :class=>"btn btn-primary", :style=>"color: #fff;" %>
</div>